.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

body {
    height: 3000px;
}
.header {
  background: url(../images/header-background.jpg) center center no-repeat;
  background-size: cover;
}

 
